matplotlib==3.7.2
matplotlib==3.8.2
numpy==2.3.0
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
pandas==2.3.0
Pillow==10.0.1
Pillow==9.5.0
Pillow==11.2.1
scipy==1.11.3
torch==2.1.0
torch==2.2.0
torch==2.6.0+cu126
torchvision==0.16.0
torchvision==0.17.0
torchvision==0.21.0+cu126
tqdm==4.65.0
tqdm==4.66.1
